<div class="row">
    <div class="jumbotron col-lg-6 col-centered">
        <h2>Stillbright Technologies LLC</h2>
        <p>R2E Project</p>
    <!-- Below shows that I can init a $scope var in a partial.  I ended up not using this 
        <span ng-init="signupForm.myPartial='/angular/application/partial_userCreate.ejs'">x</span-->
        <br>
        <div>
            <div class="  ">
                <div>
                    <a ui-sref="createLogin" class="btn btn-default ">
                        <span> Create New User</span> 
                     </a>
                    </div>
                <br>
                <div>
                    <a ng-click="navigateTo('index.userLogin')" class="btn btn-default ">
                       <span> Sign In to Existing Site</span>
                    </a>
                </div>
                <br>
                <div>
                    <a class="btn btn-default " >
                        <span>  View Demo Site   </span>
                    </a>
                </div>
            </div>
            <br><br>
        </div>
    </div>
</div>