
<div ng-controller="UserController" class=""   ng-cloak>

    

   
</div>

<%block('localScripts','<script src="/angular/user/UserCntrl.js"></script> \r <script src="/angular/appGlobals.js"></script>') %>
