
<div  class="container ng-cloak">
    <div   ui-view></div>
</div>
<% block('localScripts','<script src="/angular/application/app.js"></script> \r\t  <script src="/angular/services/userPermissions.js"></script>  \r\t <script src="/angular/user/UserCntrl.js"></script> ') %>
