<div class="container-fluid" ng-controller="UserCntrl">
    <ng-include src="signupForm.myPartial"></ng-include>

</div>
<% block('localScripts','<script src="/angular/app.js"></script> \r\t <script src="/angular/user/UserCntrl.js"></script>') %>