<div class="container-fluid" ng-controller="UserCntrl">
    <div class="jumbotron" class="col-sm-3 col-md-6">
            <h1>Stillbright Technologies LLC</h1>
            <p>Recip Diagnostic Project</p>
        
  
       <br>
            <button type="button" class="btn btn-default col-med-6" >
            Create New User and Site
        </button>
        <br><br>
      <button type="button" class="btn btn-default col-med-6" >
            Sign In to Existing Site
        </button>

      <br><br>
      <button type="button" class="btn btn-default col-med-6" >
               View Demo Site   
      </button>
    </div>

  
</div>
<% block('localScripts','<script src="/angular/user/UserCntrl.js"></script>') %>