<div ng-controller="UserController" class=""   ng-cloak>

    

    <!-- SIGNUP FORM --> 
    <form ng-submit="submitLoginForm()" id="sign-up-form" class="form-signin" name="loginForm">
    <h2 class="form-signin-heading">Please Log In</h2>

        <div  class="row container-fluid">
           

            <!-- E M A I L -->

            <div class="control-group form-group col-md-8"
            ng-class="{'has-error': loginForm.email.$invalid &&
                                  loginForm.email.$dirty}">
              <label>Email Address</label>
              <input type="email" class="form-control" placeholder="User Email"  ng-model="loginForm.email" required >
              <span class="help-block has-error" ng-if="loginForm.email.$dirty">
                <span ng-show="loginForm.email.$error.required">Email address is required.</span>
                <span ng-show="loginForm.email.$error.email">Not a valid email address.</span>
              </span>
            </div>

            <!-- P A S S W O R D -->

            <div class="control-group form-group col-md-6"
            ng-class="{'has-error': loginForm.password.$invalid &&
                                  loginForm.password.$dirty}">
              <label>Password</label>
              <!-- Added the compareTo directive that compares the passowrds -->
              <input type="password" class="form-control"  placeholder="Your Password" ng-model="loginForm.password" id="password" required >
              <span class="help-block has-error" ng-if="signup.password.$dirty">
                <span ng-show="loginForm.password.$error.required">Password is required.</span>
                <span ng-show="loginForm.password.$error.minlength">Password must be at least 6 characters.</span>
              </span>
            </div>
            
        <!-- Disable signup button until the form has no errors -->
        <button class="btn btn-primary btn-med " type="submit" ng-disabled="signup.$invalid">
            <span ng-show="!signupForm.loading">Log In</span>
            <span class="overlord-loading-spinner fa fa-spinner" ng-show="signupForm.loading" ></span>
            <span ng-show="signupForm.loading">Logging In...</span>
        </button>
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    </form>
    <hr>    
       
        <button class="btn btn-primary btn-med" onclick="">or Create New Account</button>

    </div>
    <div class="container">
            <hr>
            <footer class="footer pull-right">
                <div>
                    <a href="http://stillbright.dynu.com/">Stillbright.com</a>
                    <div>Alpha Angular Concepts by John Kovach</div>
                </div>
            </footer>
        </div>
</div>

<%block('localScripts','<script src="/angular/appGlobals.js"></script> /r <script src="/angular/user/UserCntrl.js"></script>') %>
