
<div ng-controller='SiteController'>
<h2>{{greeting.text}}, World</h2>
<div>
      <label>Name:</label>
      <input type="text" placeholder="Enter a name here" ng-model="greeting.yourName">
      <hr>
      <h1>Greetings {{greeting.yourName}}!</h1>
    </div>
</div>
<% block('localScripts','<script src="/angular/sites/SiteController.js"></script>') %>

    